.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .bai-jamjuree-regular {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  

.mitr-extralight {
    font-family: "Mitr", sans-serif;
    font-weight: 200;
    font-style: normal;
  }

.mitr-regular {
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.mitr-bold {
    font-family: "Mitr", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
.sarabun-regular {
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .bg-purple {
    background-color: #715cac;
  }

  .text-purple {
    --bs-text-opacity: 2;
    color: #715cac;
  }

  .border-dec {
    background-color: #715cac;
    border-radius: 15px;
  }

  .border-dec2 {
    background-color: #ffffff;
    block-size: 75px 300px;
    border-radius: 15px;
  }

  .link-dec {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }